[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
click = "*"
cliweather = {path = "."}

[dev-packages]
micropipenv = "*"

[requires]
python_version = "3"
