[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
click = "*"
rich = "*"

[dev-packages]
micropipenv = "*"
pytest = "*"
pylint = "*"

[requires]
python_version = "3"
